<form method="post" action="/recipes">

<p> Recipe Name: <input id="recipe_name" input type="text" name="name"/> </p>

<p> Recipe Ingredients: <input id="recipe_ingredients" input type="text" name="ingredients"/> </p>

<p> Recipe Cook Time: <input id="recipe_cook_time" input type="text" name="cook_time"/> </p>

<input type="submit" id="submit" value="Submit"/>
</form>